#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: transparent;
}

.container {
  background-color: transparent;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.react-logo {
  animation: logo-spin infinite 20s linear;
  background-color: white !important;
  border: 3px solid navy;
  border-radius: 40vmin;
  box-shadow: 0 0 1rem darkblue;
  height: 20vmin;
  width: 20vmin;
  margin: 0.5rem 0;
  padding: 0.5rem;
  pointer-events: none;
}

.shopping-cart-image {
  animation: logo-spin infinite 20s linear;
  background-color: transparent !important;
  border: 3px solid navy;
  border-radius: 40vmin;
  box-shadow: 0 0 1rem darkblue;
  width: 200px;
  height: auto;
  margin-top: 2rem;
  pointer-events: none;
}
